*~
.DS_Store

docs/player/feats.html
docs/player/races.html
docs/player/using-ability-scores.html
docs/player/adventuring.html
docs/player/combat.html
docs/player/alignment.html
docs/player/backgrounds.html
docs/player/inspiration.html
docs/player/languages.html
